.filter {
  width: 10%;
  padding: 1rem;
  font-size: 1.2rem;
  box-shadow: 0 0.2rem 0.8rem rgba(68, 67, 67, 0.25);
  border: none;
  outline: none;
}

.filter-dark {
  color: #7b7e7d;
  background-color: #353a3a;
  width: 10%;
  padding: 1rem;
  font-size: 1.2rem;
  box-shadow: 0 0.2rem 0.8rem rgba(68, 67, 67, 0.25);
  border: none;
  outline: none;
}
